body{
    background-color: darkgray;
    padding: 25px;
  
  color: black;
}
#clock{
    font-size: x-large;
    color: chartreuse;
    text-align: center;
}

.navbar-brand{
    font-family: 'Courgette', cursive;
}

.dark-mode {
    background-color: black;
    color: white;
  }